[Unit]
Description=EITEL Connector Stack (Docker Compose)
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/eitel/EITELConnector
EnvironmentFile=/opt/eitel/EITELConnector/.env.production
ExecStart=/usr/bin/docker compose --env-file /opt/eitel/EITELConnector/.env.production -f /opt/eitel/EITELConnector/docker-compose.production.yaml up -d
ExecStop=/usr/bin/docker compose --env-file /opt/eitel/EITELConnector/.env.production -f /opt/eitel/EITELConnector/docker-compose.production.yaml down
ExecReload=/usr/bin/docker compose --env-file /opt/eitel/EITELConnector/.env.production -f /opt/eitel/EITELConnector/docker-compose.production.yaml up -d
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
