STAR_COORDINATOR_NAME=UC3M Coordinador EITEL
STAR_COORDINATOR_URL=http://192.168.1.10:12030
STAR_PUBLIC_KEY_ID=uc3m-star-demo-key
STAR_PUBLIC_KEY_PEM=STAR-DEMO-PUBLIC-KEY
STAR_DEFAULT_PARTICIPANT_ID=conectorstar-a
STAR_DEFAULT_PARTICIPANT_DID=did:key:pending-conectorstar-a
STAR_DEFAULT_VC_PRESENT=true
STAR_DEFAULT_VC_ISSUER=UC3M
STAR_DEFAULT_VC_ID=urn:star:vc:conectorstar-a
STAR_DEFAULT_VC_STATUS=simulated