NORMAL_POSTGRES_PASSWORD=CHANGE_ME_NORMAL_POSTGRES
NORMAL_EDC_API_AUTH_KEY=CHANGE_ME_NORMAL_API_KEY
NORMAL_UI_ORIGIN=http://localhost:12010
NORMAL_PUBLIC_DSP_URL=http://localhost:12010/conectornormal/api/v1/dsp/2025-1